extends layout



block content
    .app
        .header
            h1.display-3 PRI2020
            span.text-muted.subtitle Gestão de Alunos

        .actions
            .input-group

                input(type="text", class="search-input",id="searchInput", placeholder="Search here...")

                .input-group-append
                    button(class="btn btn-outline-primary", disabled)
                        i(class="fas fa-search")
            
            button(class="btn btn-outline-success btn-lg", onClick="addModal()")
                i(class="fas fa-plus")

        div(class="cards", id="alunosContainer")

    div(id="details", class="modal fade", tabindex="-1")
        .modal-dialog.modal-dialog-centered
            div(class="modal-content", id="detailsContent")
    
    div(id="delete", class="modal fade", tabindex="-1")
        .modal-dialog.modal-dialog-centered
            div(class="modal-content", id="deleteContent")

    div(id="edit", class="modal fade", tabindex="-1")
        .modal-dialog.modal-dialog-centered
            div(class="modal-content", id="editContent")
    
    div(id="add", class="modal fade", tabindex="-1")
        .modal-dialog.modal-dialog-centered
            div(class="modal-content", id="addContent")
                .modal-header
                    h3 Adicionar um Aluno
                
                .modal-body
                    div(class="add-alerts", id="add-alerts")

                    form(id="addForm", enctype="multipart/form-data")
                        .form-group
                            label(for="avatar") Avatar (Not required):
                            input(type="file", class="form-control-file", id="avatar", accept=".png,.jpeg,.jpg,.webp")
                            img(hidden, class="image-preview", id="preview", style="margin-top: 2vh; border-radius: 50%;")
                        
                        .form-group
                            label(for="nome") Nome:
                            input(name="nome",type="text", class="form-control", id="nome")
                        
                        .form-group
                            label(for="numero") Número:
                            input(name="numero", type="text", class="form-control", id="numero")

                        .form-group
                            label(for="sexo") Sexo:
                            select(name="sexo", type="select", class="custom-select", id="sexo")
                                option(value="Masculino") Masculino
                                option(value="Feminino") Feminino
                                

                        .form-group
                            label(for="git") Git:
                            input(name="git",type="text", class="form-control", id="git")

                        each val in [1,2,3,4,5,6,7,8]
                            .custom-control.custom-switch
                                input(name="switch" + val, type="checkbox", class="custom-control-input", id="switch" + val, required, value="true")                                
                                label(for="switch" + val, class="custom-control-label")= "TPC" + val

                .modal-footer
                    button(class="btn btn-outline-success", onClick="addAluno()") Adicionar
                    button(class="btn btn-outline-danger", data-dismiss="modal") Sair

        
            
                


