body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1vh;
  padding-bottom: 2.2vh;
  width: 92%;
  border-bottom: 1px solid gray;
}

.subtitle{
  font-size: 1.2vw;
}

.actions{
  margin-top: 2vh;
  display: flex;
  align-items: center;
  width: 90%;
}

.search-input {
  width: 20%;
}

.cards{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
}

.card-aluno{
  width: 23%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image{
  width: 50%;
  margin-top: 1vh;
}

.card-field{
  display: flex;

}

.field{
  margin-left: 1vw;
  text-align: center;
}
 