body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1vh;
  padding-bottom: 2.2vh;
  width: 92%;
  border-bottom: 1px solid gray;
}

.subtitle{
  font-size: 1.2vw;
}

.actions{
  margin-top: 2vh;
  display: flex;
  align-items: center;
  width: 90%;
}

.search-input {
  width: 20%;
}

.cards{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
}

.card-aluno{
  width: 23%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.card-image{
  width: 8vw;
  height: 12vh;
  margin-top: 1vh;
  align-self: center;
  border-radius: 50%;
}


.card-field{
  display: flex;
  border-bottom: black solid 1px;
}

.field{
  margin-left: 1vw;
  text-align: center;
}
 
.card-field-social{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: black solid 1px;
}

.detailsTpcs{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tpc{
  width: 5vw;
  margin-bottom: 2vh;
  flex:2 0 21%;

}

.details-body{
  display: flex;
  flex-direction: column;

}

.detailsNumero{
  display: flex;
}

.image-preview{
  width: 8vw;
  height: 12vh;
}

.switches{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}